<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple BigPipe Project</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #4850a9;">
  <h1>project_software</h1>

  
  <div id="content-block-1"></div>
  <div id="content-block-2"></div>
  <div id="content-block-3"></div>
  <div id="content-block-4"></div>
  <div id="content-block-5"></div>
  <div id="content-block-6"></div>
  <div id="content-block-7"></div>
  <div id="content-block-8"></div>
  <div id="content-block-9"></div>

  <style>
    h1{text-align: center;
    background-color: rgba(151, 151, 151, 0.247);
  color: black;}
  </style>

<button id="button_1" style="display: block ;margin: auto; background-color: rgb(153, 151, 151);" onclick="location.reload()">
reloading
</button>
  <script src="/js/bigpipe.js"></script>
</body>
</html>
